
#homepage{display: table}
#homepage section {
   background: none repeat scroll 0 0 rgba(102, 102, 102, 0.7);
    display: table-cell;
    float: left;
    height: 125px;
    margin: 1%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 48%;
    font: bold 18px/1.5 'Nova Square';
    color:#fff;
}
#homepage section div{
margin-top: 50px;letter-spacing: 1px;}
header{
    background: rgba(0, 0, 0, 0.7);
    height: 70px;
    text-align: center;
    margin: 1%;
}
.maintitle {
    color: #FFFFFF;
    font: bold 18px/1.5 Arial;
    padding-top: 18px;
}
#map,#popup{display:none;}
#map-canvas{position:fixed!important;top:0;left:0;z-index: -1}
#popup{position:fixed!important;top:150px;left:50%;z-index: 10;width:200px;height:auto;
margin-left: -100px;
background: rgba(0,0,0,.7);
border: 1px solid #FFFFFF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    
}
#overlay{width:100%;height: 100%;z-index: 9999;display:none;}
.cafe{background-color: #FF534E!important;}
.atm{background-color: #B7C11E!important;}
.bar{background-color: #FCBE1F!important;}
.police{background-color: #499989!important;}
.hospital{background-color: #176785!important;}
.shopping_mall{background-color: #F24C27!important;}